<div class="input-field" [class.input-field--error]="showErrors">
  <label class="input-field__label" [for]="name">
    {{ label }}
    <span *ngIf="isRequired" class="input-field__required">*</span>
  </label>
  <div class="input-field__control">
    <input
      class="input-field__input"
      [class.input-field__input--with-toggle]="isPassword"
      [type]="inputType"
      [id]="name"
      [name]="name"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
      (input)="onInput($any($event.target).value)"
      (blur)="onBlur()"
      [attr.aria-invalid]="showErrors"
      [attr.aria-describedby]="name + '-feedback'"
    />
    <button
      *ngIf="isPassword"
      type="button"
      class="input-field__toggle"
      [disabled]="disabled"
      [attr.aria-label]="passwordShown ? 'Hide password' : 'Show password'"
      [attr.aria-pressed]="passwordShown"
      (click)="togglePassword()"
    >
      <app-icon [name]="passwordShown ? 'ui/eye-off' : 'ui/eye'"></app-icon>
    </button>
  </div>
  <div class="input-field__feedback" [id]="name + '-feedback'">
    <span *ngIf="showErrors" class="input-field__error-msg">
      {{ errors[0] }}
    </span>
  </div>
</div>
