<div class="qty-input" [class.qty-input--disabled]="disabled">
  <button
    class="qty-input__btn qty-input__btn--decrease"
    type="button"
    (click)="decrease()"
    [disabled]="disabled || isAtMin"
    aria-label="Decrease quantity"
  >
    <app-icon name="ui/minus"></app-icon>
  </button>

  <input
    class="qty-input__field"
    type="number"
    [min]="min"
    [max]="max"
    [value]="value"
    [disabled]="disabled"
    (keydown)="onKeyDown($event)"
    (input)="onInput($event)"
    (blur)="onBlur($event)"
    aria-label="Quantity"
  />

  <button
    class="qty-input__btn qty-input__btn--increase"
    type="button"
    (click)="increase()"
    [disabled]="disabled || isAtMax"
    aria-label="Increase quantity"
  >
    <app-icon name="ui/plus"></app-icon>
  </button>
</div>
